@import url('https://fonts.googleapis.com/css2?family=Delius&family=Delius+Unicase:wght@400;700&display=swap');



Body {



    Color :blue;
   Max-Width: 700px;
    Margin: auto;
}


H1, h2, h3 {
    font-family: "Delius Unicase", cursive;
  font-weight: 400;
  font-style: normal;
 Color: white; 
background-color: blue; 
Text-align: center;
}

A { 
  Color: blue;

}

A hover {
  Background-color: blue 

 Color: white;
}
 